<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rhok.linguist" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".code.MyApplication">
        <activity
            android:name=".activity.common.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.old.HomeActivity"
            android:label="@string/home_title" >
        </activity>
        <activity
            android:name=".activity.old.CaptureActivity"
            android:label="@string/capture_title"
            android:parentActivityName=".activity.old.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.old.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.old.SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".activity.old.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.old.CaptureActivity" />
        </activity>
        <activity
            android:name=".activity.old.PersonActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.old.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.old.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.old.UploadActivity"
            android:label="@string/upload_title"
            android:parentActivityName=".activity.old.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.old.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.old.PersonDeleteActivity"
            android:label="@string/delete_person_title"
            android:parentActivityName=".activity.old.PersonActivity" >
        </activity>
        <activity
            android:name=".activity.interview.InterviewSpokenLanguageActivity"
            android:label="Select Language" >
        </activity>
        <activity
            android:name=".activity.location.InterviewMunicipalityActivity"
            android:label="Select Municipality" >
        </activity>
        <activity
            android:name=".activity.location.InterviewSubDistrictActivity"
            android:label="Select Sub District" >
        </activity>
        <activity
            android:name=".activity.location.InterviewVillageActivity"
            android:label="Select Village" >
        </activity>
        <activity
            android:name=".activity.old.StudyActivity"
            android:label="Select Study" >
        </activity>
        <activity
            android:name=".activity.interview.InterviewNameActivity"
            android:label="@string/interview_title" >
        </activity>
        <activity
            android:name=".activity.interview.InterviewAgeActivity"
            android:label="@string/interview_title" >
        </activity>
        <activity
            android:name=".activity.interview.InterviewGenderActivity"
            android:label="@string/interview_title" >
        </activity>
        <activity
            android:name=".activity.interview.InterviewOccupationActivity"
            android:label="@string/interview_title" >
        </activity>
        <activity
            android:name=".activity.interview.InterviewEducationActivity"
            android:label="@string/interview_title" >
        </activity>
        <activity
            android:name=".activity.interview.InterviewMoreLanguagesActivity"
            android:label="@string/interview_title" >
        </activity>
        <activity
            android:name=".activity.interview.InterviewLivedLifeActivity"
            android:label="@string/interview_title" >
        </activity>
        <activity
            android:name=".activity.interview.InterviewLivedLengthActivity"
            android:label="@string/interview_title" >
        </activity>
        <activity
            android:name=".activity.recording.RecordingAudioActivity"
            android:label="Recording" >
        </activity>
        <activity
            android:name=".activity.recording.RecordingInstructionsActivity"
            android:label="Recording" >
        </activity>
        <activity
            android:name=".activity.common.AppSettingsActivity"
            android:label="@string/title_activity_app_settings" >
        </activity>
    </application>

</manifest>
